# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# Logs
logs/
*.log
logs/*.log

# dotenv environment variables
.env

# MacOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage reports
coverage/
